<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="text-bg-dark">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-7">
                <div class="card mt-4">
                    <div class="card-body pt-4">
                        <h3 class="card-title text-center mb-4">Sign Up</h3>
                        <form action="/signup" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username" name="username"
                                        aria-describedby="inputGroupPrepend2" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="name@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    aria-describedby="passwordHelpInline" required>
                                <div id="passwordHelpInline" class="form-text">
                                    Must be 8-20 characters long.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password-confirm" class="form-label">Confirm Password</label>
                                <input type="password" id="password-confirm" name="passwordConfirm"
                                    class="form-control" aria-describedby="passwordHelpInline" required>
                            </div>
                            <div class="text-center mt-3 mb-4">
                                <button type="submit" class="btn btn-primary">Signup</button>
                            </div>
                        </form>
                        <div class="text-center mb-4"><a href="/" class="pb-4">Back to Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>